@font-face {
    font-family:'relative-book-pro';
    src:url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-book-pro.eot');
    src:url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-book-pro.eot?#iefix') format('embedded-opentype'), url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-book-pro.woff2') format('woff2'), url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-book-pro.woff') format('woff'), url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-book-pro.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'relative-medium-pro';
    src:url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-medium-pro.eot');
    src:url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-medium-pro.eot?#iefix') format('embedded-opentype'), url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-medium-pro.woff2') format('woff2'), url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-medium-pro.woff') format('woff'), url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-medium-pro.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'relative-mono-11-pitch-pro';
    src:url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-mono-11-pitch-pro.eot');
    src:url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-mono-11-pitch-pro.eot?#iefix') format('embedded-opentype'), url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-mono-11-pitch-pro.woff2') format('woff2'), url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-mono-11-pitch-pro.woff') format('woff'), url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-mono-11-pitch-pro.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'relative-faux-book-pro';
    src:url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-faux-book-pro.eot');
    src:url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-faux-book-pro.eot?#iefix') format('embedded-opentype'), url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-faux-book-pro.woff2') format('woff2'), url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-faux-book-pro.woff') format('woff'), url('https://carbonplan-assets.s3.amazonaws.com/fonts/relative/relative-faux-book-pro.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

nav.navbar.navbar-default {
  background: #1b1e23;
  font-family: "relative-medium-pro";
  padding-top: 12px;
  padding-bottom: 16px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #EBEBEC;
}

.navbar.navbar-default .navbar-nav>li>a, .navbar.navbar-default .navbar-text {
    font-family: "relative-medium-pro";
    font-size: 16px;
    color: #EBEBEC;
    border-bottom-color: #EBEBEC;
}

.navbar.navbar-default .navbar-nav>li>a:hover, .navbar.navbar-default .navbar-nav>li>a:focus {
    color: #808080;
    border-color: #808080;
    border-bottom: 1px solid #808080;
}

#login-main .auth-form-header {
    background: #1b1e23 !important;
    font-size: 34px;
}
#login-main .auth-form-body {
    font-family: "relative-medium-pro";
    color: #EBEBEC;
}

#login-main .auth-form-body {
    padding: 20px;
    font-size: 18px;
    border: None;
    border-top: none;
    border-radius: 0 0 3px 3px;
}

body {
  font-family: "relative-book-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  background-color: #1b1e23 !important;
  color: #EBEBEC;
}

.panel {
    background-color: #1b1e23;
}

.btn-jupyter {
    color: #e4e4e4;
    background-color: #1b1e23 !important;
    border-color: #e4e4e4 !important;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
}

.btn {
    font-size: 16px;
}

.btn-jupyter:hover {
    color: #808080;
    border-color: #808080 !important;
    border-bottom: 1px solid #808080;
}

.btn-default {
    color: #e4e4e4;
    background-color: #1b1e23;
    border: None;
}
.btn-default:hover {
    color: #808080;
    background-color: #1b1e23;
    border-color: #808080 !important;
    border-bottom: 1px solid #808080;
}

.btn-primary {
    color: #e4e4e4;
    background-color: rgba(133, 162, 247, 1.0);
    background-color: rgba(133, 162, 247, 1.0);
}
.btn-primary:hover {
    color: #e4e4e4;
    background-color: rgba(133, 162, 247, 0.8);
    background-color: rgba(133, 162, 247, 0.8);
}

.btn-danger {
    color: #e4e4e4;
    background-color: rgba(240, 112, 113, 1.0);
    border-color: rgba(240, 112, 113, 1.0);
}
.btn-danger:hover {
    color: #e4e4e4;
    background-color: rgba(240, 112, 113, 0.8);
    border-color: rgba(240, 112, 113, 0.8); 
}

#login-main .service-login {
    vertical-align: top !important;
    padding-top: 60px;
}

#login-main #insecure-login-warning {
    background-color: #1b1e23;
    color: #F07071;
    padding: 10px;
    font-size: 14px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #808080;
    background-color: #1b1e23;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #EBEBEC;
    padding-bottom: 12px;
    padding-top: 12px;
}

.form-control:focus {
    box-shadow: None !important;
    border-bottom-color: #EBEBEC !important;
    outline-color: None;
}

label {
    padding-top: 12px;
}

.table td {
    background-color: #1b1e23;
}